<%- include ./header.ejs %>

<body>


<div class="container" style="margin-top: 30px">

    <div class="col-xs-8">

        <% for(var j = 1; j <= 10; j++) { %>

        <div class="matchRow row" data-id="<%= j %>">
            <section class="col-xs-offset-3 col-xs-4 number">
                <%= j %>
            </section>

            <% if(ball_map[j]['smell_id'] == -1) { %>
            <section class="col-xs-4 dropZone ">

            </section>
            <% } else { %>
            <section class="col-xs-4 dropZone hover">
                <img class="smellImage" src=<%= p[j]['img'] %> alt="Banana"/>
            </section>
            <% } %>
        </div>

        <% } %>

    </div>


    <!---Smells-->
    <div class="col-xs-4">
        <% for(var i = 1; i <= 9; i += 2) { %>
        <div class="row">
            <section data-id="<%= i %>" class="col-xs-4 draggable">
                <% if(ball_map[i]['smell_id'] == -1) { %>
                <img class="smellImage" src=<%= p[i]['img'] %> />
                <% } else { %>

                <% } %>
            </section>
            <section data-id="<%= i+1 %>" class="col-xs-offset-2 col-xs-4 draggable">

                <% if(ball_map[i+1]['smell_id'] == -1) { %>
                    <img class="smellImage" src=<%= p[i+1]['img'] %> />
                <% } else { %>

                <% } %>


            </section>
        </div>
        <% } %>

    </div>


</div>


<script>

    $(".draggable").draggable({revert: 'invalid'});

    $(".dropZone").droppable({
        accept: ".draggable",
        activeClass: "activeDrop",
        tolerance: "intersect",
        hoverClass: "hover",
        drop: function (event, ui) {

            $(ui.draggable).draggable('disable');
            $(this).droppable('disable');
            $(this).addClass('stop');

            //extract ball id
            var parent = $(this).parent();
            var ballId = parent.attr('data-id');

            //extract smell
//            var smellParent = $(ui.draggable).parent();
            var smellId = $(ui.draggable).attr('data-id');


            $.post('/updateSmell/' + ballId + '/' + smellId, function (data) {
                console.log(data);
            });


            //TODO UPDATE DATABASE
        }
    });

</script>

<style>

    .smellImage {
        height: 50px
    }

    .dropZone {
        border: solid 1px #dcdcdc;
        height: 100%;
    }

    .stop {
        background-color: #27ae60;

    }

    .hover {
        background-color: #27ae60;
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    .activeDrop {
        animation: myfirst 2s infinite;
        -moz-animation: myfirst 2s infinite; /* Firefox */
        -webkit-animation: myfirst 2s infinite; /* Safari and Chrome */
    }

    .number {
        font-size: 2.5em;
    }

    .draggable {
        min-height: 60px;
    }

    .matchRow {
        height: 40px;
        margin-bottom: 10px;
    }

    @-moz-keyframes myfirst /* Firefox */
    {
        0% {
            background: #dcdcdc;
        }
        50% {
            background: #3498db;
        }
        100% {
            background: #dcdcdc;
        }
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
        0% {
            background: #dcdcdc;
        }
        50% {
            background: #3498db;
        }
        100% {
            background: #dcdcdc;
        }
    }


</style>

</body>
</html>